APP_NAME="Wizard Pattern - Combr Email Infrastructure Diagnostics"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# Provisioning API endpoint (Mock / Production)
PROVISIONING_API_URL=https://api.combr.com.br/v1/provisioning/infrastructures
PROVISIONING_API_KEY=combr_live_sec_demo_938102831023
WHATSAPP_NUMBER=5511999999999
